*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
.gwt/
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/serverLibraryManager/

# database things #
war/WEB-INF/lib/*.tmp
war/WEB-INF/lib/*.lck
war/WEB-INF/lib/*.log
war/WEB-INF/lib/*.properties
war/WEB-INF/lib/*.script
