.title {
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
}

.header {
	border-bottom: 5px solid gray;
}

.root-dir{
	font-size: 1.1em;
}

.workarea-title{
	font-size: 1.5em;
}

.workarea-subtitle {
	font-size: 1.2em;
	padding-bottom: 3px;
}

.workarea-instructions {
	font-size: 1.1em;
	color: gray;
	padding-left: 5px;
}

.workarea-selectedFile {
	padding-left: 10px;
}

.edit-form {
	margin-bottom: 10px;
}