.title {
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
}

.root-directory {
	font-size: 1.3em;
}

.workarea-title{
	font-size: 1.5em;
	font-weight: bold;
}

.workarea-description {
	font-size: 1.1em;
	color: gray;
	padding-left: 10px;
}

.edit-form {
	margin-bottom: 10px;
}

.success {
	color: green;
	font-size: 1.5em;
	font-weight: bold;
	text-align:right;
}